#canva{
}

.container-fluid{
    position: relative;
    height:100%;
}

.row{
    height:100%;
}

body, html{
    overflow: hidden;
    margin: 0px; 
    width: 100%; 
    height: 100%; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#GUI{
    height:100%;
}